body {
    background-color: #B4FFCD;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
}

.wrapper {
    display: flex;
}

header {
    border-bottom: #24A850 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    color: #24A850;
    margin: 20px 50px;
    cursor: pointer;
}

header a p:hover {
    text-decoration: underline;
}

header>p {
    font-size: 24px;
    font-weight: 600;
}

.left-side {
    background-color: #24A850;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 400px;
    width: 40%;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    color: #24A850;
    font-size: 3em;
}

.tagline {
    width: 450px;
    margin-top: 10px;
    color: white;
    font-size: 1.7em;
    font-weight: 500;
}

p span {
    font-weight: 600;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: default;
}

.start-button {
    margin: 10px;
    background-color: white;
    color: #24A850;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.start-button:hover {
    transform: translateY(-8px);
    /* box-shadow: 0 4px 8px rgb(255, 255, 255); */

}

.how {
    color: white;
    font-weight: 600;
    margin-left: 30px;
}

.how:hover {
    text-decoration: underline;
}

/* .right-side {} */

.right-side img {
    position: absolute;
    width: 60%;
    right: 0;
    z-index: 0;
    margin-top: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.aesthe-line {
    width: 80%;
    height: 50px;
    background-color: #24A850;
    position: absolute;
    right: 0;
    top: 75%;
    z-index: -1;
    border-radius: 10px;
}